
body{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

ul{
    padding: 0rem;
}

img{
    max-width: 100%;
    height: auto;
}

section , footer{
    max-width: 3020px;
    margin: 0rem auto;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    width: 90%;
    max-width: 1800px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    top: 30px;
    background-color: white;
    height: 90px;
    border-radius: 30px;
}

.header-1{
    width: 100%;
    max-width: 2000px;
    z-index: 10;
    margin: 0rem auto;
    padding: 0rem 1rem;
}

.header-1 .logo-nav-contact{
    margin: 0rem auto;
}

ul{
    list-style: none;
}

.logo-nav-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    border-radius: 30px;
    background-color: white;
    /* margin: 2rem 0rem;    */
    position: relative;
}

.nav-list{
    display: flex;
    gap: 30px;
    margin: 0rem;
}

.nav-list li:hover{
    color: #C10023;
}

.contact-us-btn{
    background-color: #FFCC29;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    display: grid;
    place-content: center;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.banner-sec{
    /* padding: 10rem 0rem; */
    height: 700px;
    max-height: 1000px;
    background-color: darkblue;
    background-image: url("./assets/banner-sec/banner-man-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-tit-card{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 90%;
  max-width: 646px ;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonial-mini-tit{
    background-color: #ffffff;
    padding: 0.7rem 1rem 0.7rem 2.5rem;
    margin: 0rem auto;
}
.Subscrip-mini-tit{
    background-color: #ffffff;
    padding: 0.7rem 1rem 0.7rem 2.5rem;
    margin: 0rem auto;
}
.sec-mini-tit{
    background-color: #FFFFFF4D;
    padding: 0.7rem 1rem 0.7rem 2.5rem;
}
.Welcome-to-mini-tit{
    background-color: #F1F1F1;
    padding: 0.7rem 1rem 0.7rem 3rem;
}
.why-chose-mini-tit{
    background-color: #ffffff;
    padding: 0.7rem 1rem 0.7rem 3rem;
}
.how-we-work-mini-tit{
    background-color: #f1f1f1;
    padding: 0.7rem 1rem 0.7rem 3rem;
    margin: 0rem auto;
}
.blog-mini-tit{
    background-color: #ffffff;
    padding: 0.7rem 1rem 0.7rem 3rem;
    margin: 0rem auto;
}
.our-team-mini-tit{
    background-color: #f4f4f4;
    padding: 0.7rem 1rem 0.7rem 3rem;
    margin: 0rem auto;
}
.making-your-mini-tit{
    background-color: #f4f4f4;
    padding: 0.7rem 1rem 0.7rem 3rem;
}
.about-exprence-mini-tit{
    background-color: #f4f4f4;
    padding: 0.7rem 1rem 0.7rem 3rem;
    color: black;
}

.welcome-to-main-img{
    display: grid;
    place-content: center;
}

.welcome-to-main-img img{
    object-fit: contain;
}

.sec-mini-tit ,
  .Welcome-to-mini-tit ,
   .why-chose-mini-tit ,
    .how-we-work-mini-tit ,
     .blog-mini-tit ,
      .our-team-mini-tit,
       .Subscrip-mini-tit,
        .testimonial-mini-tit,
        .making-your-mini-tit,
        .about-exprence-mini-tit {
  position: relative;
  width: fit-content;
}

.about-exprence-mini-tit::before{
    background-image: url("./assets/why-choose-us-sec/Why-Choose-Us.svg");
    left: 5px;
}

.testimonial-mini-tit::before{
    background-image: url("./assets/why-choose-us-sec/Why-Choose-Us.svg");
    left: 5px;
}

.Subscrip-mini-tit::before{
    background-image: url("./assets/why-choose-us-sec/Why-Choose-Us.svg");
    left: 5px;
}

.our-team-mini-tit::before{
    background-image: url("./assets/why-choose-us-sec/Why-Choose-Us.svg");
    left: 5px;
}

.sec-mini-tit::before{
    background-image: url("./assets//banner-sec/mini-tit.svg");
    left: 5px;
}

.Welcome-to-mini-tit::before{
    background-image: url("./assets/welcome-to-sec/Welcome-To.svg");
    left: 10px;
}

.why-chose-mini-tit::before{
    background-image: url("./assets/why-choose-us-sec/Why-Choose-Us.svg");
    left: 10px;
}

.how-we-work-mini-tit::before{
    background-image: url("./assets/why-choose-us-sec/Why-Choose-Us.svg");
    left: 10px;
}

.blog-mini-tit::before{
    background-image: url("./assets/why-choose-us-sec/Why-Choose-Us.svg");
    left: 10px;
}

.making-your-mini-tit::before{
    background-image: url("./assets/why-choose-us-sec/Why-Choose-Us.svg");
    left: 10px;
}

.sec-mini-tit::before ,
 .Welcome-to-mini-tit::before ,
  .why-chose-mini-tit::before ,
   .how-we-work-mini-tit::before ,
    .blog-mini-tit::before ,
     .our-team-mini-tit::before,
      .Subscrip-mini-tit::before ,
       .testimonial-mini-tit::before,
        .making-your-mini-tit::before,
         .about-exprence-mini-tit::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
    top: 50%;
}

.banner-main-h1 ,
 .welcome-main-tit ,
  .why-chose-us-main-tit ,
   .how-we-work-main-tit ,
    .blog-main-tit ,
     .our-team-main-tit,
      .Subscrip-main-tit,
       .testimonial-main-tit,
        .making-your-vision-main-tit,
         .about-exprence-main-tit{
    font-family: "Courgette", cursive;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
}

.get-started-btn{
    width: 169px;
    height: 50px;
    background-color: #FFCC29;
    border-radius: 10px;
    display: grid;
    place-content: center;
    align-items: center;
    color: black;
    position: relative;
    padding: 1rem 2rem 1rem 1rem;
}

.get-started-btn::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("./assets/banner-sec/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 20px;
}

.welcome-to-sec{
    padding: 5rem 0rem;
}

.welcome-to-content-box{
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Years-Of-Experiance{
    display: flex;
    gap: 20px;
}

.Years-Of-Experiance-cont{
    flex-shrink: 1;
    padding: 0.5rem 0rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; 
}

.years{
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0rem;
    width: 175px;
    flex-shrink: 1;
}

.year-of-number{
    color: #C10023;
    font-size: 90px;
    font-weight: 800;
    line-height: 96px;
}

.why-choose-us-sec .container{
    max-width: 100%;
}

.why-choose-us-sec .row>*{
    padding: 0rem;
}

.why-choose-us-projects{
    /* display: grid; */
    place-content: center;
    background-image: url("./assets/why-choose-us-sec/why-choose-us-main-img.png");
    height: 100%;
    background-size: cover;
}

.projects-people-business-card{
    background-color: #C10023B2;
    backdrop-filter: blur(25px);
    margin: 0rem auto;
    color: white;
    max-width: 560px;
    width: 80%;
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    border: 1px solid #000000;
    height: 480px;
    padding: 0rem;
    gap: 10px;
}

.projects-people-business-card span{
   background-color: #ffcc29;
   color: black;
   width: 95px;
   display: grid;
   place-content: center;
   padding: 0rem 1rem;
   height: 100%;
}

.projects-people-business-card li{
    border: 1px solid #f1f1f1;
    width: 80%;
    max-width: 400px;   
    display: flex;
    height: 65px;
    margin: 0.5rem auto;
    border-radius: 5px;
 }

 .projects-people-business-card li div{
    flex-grow: 1;
    padding-left: 2rem;
    display: flex;
    align-items: center;
 }

 .why-choose-us-cont{
    height: 100%;
    background-color: #f1f1f1;
    padding: 4rem 6rem;
 }

 .why-choose-us-cont-card{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: 3rem 0rem;
 }

 .expreriance-excelence-affodoble li{
    position: relative;
    padding-left: 2rem;
    margin-bottom: 3rem;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
 }

 .how-we-work-sec{
    padding: 3rem 0rem;
 }

 .expreriance-excelence-affodoble li p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
 }

 .expreriance-excelence-affodoble li::before{
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    background-image: url("./assets/why-choose-us-sec/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 0%;
    left: -20px;
    background-color: #FFCC29;
    border-radius: 50%;
 }

 .how-we-work-tit-wraper ,
  .blog-tit-wraper ,
   .our-team-tit-wraper ,
    .Subscrip-tit-wraper,
     .testimonial-tit-wraper,
      .making-your-vision-cont-card,
       .about-exprence-tit-wraper{
    text-align: center;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 3rem auto;
 }

 .making-your-vision-cont-card , .about-exprence-tit-wraper{
    text-align: start;
 }


 .how-we-work-card{
    text-align: left;
    padding: 2rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1.06px solid #000000;
    margin-bottom: 2rem;
 }

 .how-we-work-card:hover{
    background-color: #C10023;
    color: white;
 }

 .how-we-work-card:hover .read-more-btn{
    color: #ffcc29;
 }

.how-we-work-card-img{
    width: 60px;
    height: 60px;
}

.how-we-work-card-tit{
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}

.read-more-btn{
    color: #C10023;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.blog-sec{
    background-color: #f1f1f1;
    padding: 4rem 0rem;
}

.blog-card{
    text-align: center;
    background-color: #ffffff;
    padding: 1.3rem 1rem;
    border-radius: 5px;
    margin-bottom: 3rem;
}

.blog-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.blog-card-read-more{
    width: 129px;
    height: 50px;
    display: grid;
    place-content: center;
    background-color: #ffcc29;
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    border-radius: 10px;
    margin: 1rem auto;
}

.blog-card-tit{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin: 1rem 0rem;
}

.blog-img-tit1 , .blog-img-tit2{
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    bottom: 0px;
    max-width: 100%;
    width: 162px;
    height: 45px;
}

.blog-img-tit2{
    background-color: #c10023;
    display: grid;
    place-content: center;
    left: 50%;
}

.blog-img-tit1{
    background: #c1002399;
    display: grid;
    place-content: center;
    right: 50%;
}

.blog-img-tit1::before , .blog-img-tit2::before{
     content: "";
     position: absolute;
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
     width: 13px;
     height: 13px;
     top: 50%;
     transform: translateY(-50%);
     left: 10px;
}

.blog-img-tit1::before {
    background-image: url("./assets/how-we-work/profile.svg");
}

.blog-img-tit2::before {
    background-image: url("./assets/how-we-work/time.svg");
}

.blog-card-img{
    position: relative;
}

.our-team-sec{
    padding: 3rem 0rem;
}

.our-team-card{
    padding: 1.6rem;
    text-align: center;
    border: 1px solid rgba(71, 71, 71, 1);
    transition: all 0.5s ease ;
    margin-bottom: 3rem;
}

.our-team-card p{
    margin: 0rem;
}

.our-team-card:hover{
    background-color: #c10023;
    color: white;
    border: 1px solid transparent;
}

.our-team-name{
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    margin: 1rem 0rem;
}

.tit-nd-price{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(193, 0, 35, 1);
    align-items: center;
    padding-bottom: 1rem;
}

.buy-now-btn{
    display: block;
    background-color: #ffcc29;
    padding: 1rem 0rem;
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    border-radius: 10px;
}

.what-we-offer{
    padding: 0rem;
    margin: 1rem 0rem;
}

.what-we-offer li{
    position: relative;
    padding-left: 2.5rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 1rem;
    
}

.basic-nd-standard-plan-card{
    background-color: #ffffff;
    padding: 2rem;
    margin-bottom: 3rem;
}

.primium-plan-card{
    background-color: #c10023;
    padding: 3rem 2rem;
    color: white;
    margin-bottom: 3rem;
}

.primium-plan-card .tit-nd-price span{
    font-size: 34px;
    font-weight: 700;
    line-height: 44px;
    color: #ffffff;
}

.primium-plan-card .pricing-tit{
   color: #ffcc29;
}

.primium-plan-card .tit-nd-price{
    border-bottom: 2px solid #ffcc29;
}

.what-we-offer li::before{
    content: "";
    position: absolute;
    background-image: url("./assets/pricing/pricing-checks.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    left: 0px;
}

.pricing-sec{
    background-color: #f1f1f1;
    padding: 4rem 0rem;
}

.tit-nd-price span{
    font-size: 34px;
    font-weight: 700;
    line-height: 44px;
    color: #c10023;
}

.pricing-tit{
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}

.testimonial{
    padding: 7rem 0rem;
}

.testimonial .container{
     max-width: 1800px;
     width: 100%;
}


/* Swiper - start */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 680px !important;
    width: 90% !important;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    margin: 0rem auto;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Swiper - end */

.testimonial-card{
    display: flex;
  }

.testimonial-main-img{
    flex-shrink: 0;
    width: 237px;
}

.tesmonial-cont{
    text-align: left;
    padding: 1rem 2rem;
    position: relative;
}

.tesmonial-cont::before{
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  background: url("./assets/testimonial-sec/quats.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 20px;
  top: 20px;
}

.tesmonial-cont > span{
    color: #c10023;
}

.testi-name{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.testimo-rating-img{
    width: 138px;
    height: 23px;
    margin: 1rem 0rem;
}

.swiper-3d .swiper-wrapper{
    gap: 10px;
}

footer{
    position: relative;
    padding: 8rem 0rem 2rem;
    background-color: #000000;
    color: white;
}

.footer-social-mdia-link{
    display: flex;
    gap: 20px;
}

.f-contact-checks , .f-pages-check , .f-quick-link-checks {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.f-pages-check{
    list-style:disc;
    padding-left: 1rem;
}

.f-quick-link-checks{
    list-style:disc;
    padding-left: 1rem;

}

.f-sub-form{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    position: relative;
    display: block;
    overflow: hidden;
}

.f-sub-form::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0px;
    background: url("./assets/footer/footer-arrows.png");
    right: 0px;
    background-color: #ffcc29;
    background-repeat: no-repeat;
    background-position: center;
}

.f-sub-form input{
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0.4rem 0.4rem 0.4rem 1rem ;
}

.footer-logo-social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-logo-social , .footer-contant , .footer-pages , .quick-link , .f-subcribe{
    margin-bottom: 3rem;
}

.f-subscribe-tit{
    margin-bottom: 2rem;
}

.service-nav-card-dongle:hover .service-nav-card{
    transform: translateX(0%) skew(0deg);
    width: auto;
    height: auto;
}

.service-nav-card:hover{
    width: auto;
    height: auto;
}

.service-nav-card{
    background-color: #ffffff;
    position: absolute;
    top: 60%;
    transform: translateX(-50%) skew(10deg);
    transition: transform 0.5s;
    width: 0px;
    height: 0px;
    overflow: hidden;
    z-index: 10;
}

.service-nav-card li{
    padding: 0.5rem 3rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    
}

.service-nav-card li:hover{
    background-color: #C10023;
    color: white;
}

.service-nav-card li:hover a{
    color: white;
}

.handburger-menu{
    width: 30px;
    height: 30px;
    display: none;
}

.copy-rights{
    border-top: 1px solid #ffffff;
    text-align: center;
    margin-top: 4rem;
    padding: 1rem 0rem 1rem;
}
.nav-list a{
  color: black;
}

.nav-list  a:hover{
    color: #c10023;
  }

.breadcrumb{
    background: url("./assets/about/About-Us-breadcrumb-img.jpg");
}

.service-breadcrumb{
    background: url("./assets/about/About-Us-breadcrumb-img.jpg");
}

.breadcrumb , .service-breadcrumb{
    padding: 5rem 0rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    z-index: 4;
    margin: 0rem auto;
}

.service-breadcrumb * , .breadcrumb *{
    z-index: 3;
    position: relative;
}

.breadcrumb::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}

.service-breadcrumb::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    top: 0px;
    left: 0px; 
}


.breadcrumb-navigation a{
  color: white;
}

.breadcrumb-navigation li:last-child{
    list-style:disc;
}

.breadcrumb-navigation{
    display: flex;
    gap: 30px;
    color: #ffcc29 !important;
}


.Satisfaction-frndly-support{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.Satisfaction-frndly-points{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.Satisfaction-frndly-points span{
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    padding: 0.8rem;
    text-align: center;
    background-color: #FFCC29;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.76px;
    color: #c10023;
}

.making-your-vision-sec{
    padding: 4rem 0rem;
}

.about-exprence-sec{
    padding: 2rem 0rem;
    background: url("./assets/about/exprence-sec-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.about-exprence-ul-ckecks li{
    background-color: white;
    color: black;
    padding: 2rem;
}

.about-exprence-ul-ckecks{
 display: flex;
 flex-direction: column;
 gap: 45px;
 position: relative;
}

.about-exprence-ul-ckecks > li{
    position: relative;
}

.about-exprence-ul-ckecks > li::before{
    content: "";
    position: absolute;
     width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    left: -14px;
    transform: rotate(-90deg) translateY(-50%);
    top: 44%;
}

.about-exprence-ul-ckecks > li::after{
    content: "";
    position: absolute;
    background: url("./assets/about/experience-after-bg.png");
    width: 18px;
    height: 18px;
    left: -30px;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);

}

.about-exprence-ul-ckecks > li > span{
    width: 150px;
    height: 40px;
    background-color: #C10023;
    position: absolute;
    font-size: 23.33px;
    font-weight: 800;
    line-height: 29.28px;
    color: white;
    display: grid;
    place-content: center;
    top: -25px;
}

.service-page-card-sec{
    padding: 4rem 0rem;
}

.service-listing-card-btn{
    display: block;
    width: 159px;
    height: 50px;
    display: grid;
    place-content: center;
    background-color: #FFCC29;
    border-radius: 10px;
    margin: 0rem auto;
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    padding: 1rem 2rem 1rem 1rem;
    position: relative;
}

.service-listing-card-btn::before{
    content: "";
    position: absolute;
    background: url("./assets/service-page/service-arrow.svg");
    width: 10px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

}

.service-listing-card-main-img{
    position: relative;
}

.service-listing-card{
    margin-bottom: 30px;
}

.service-listing-card-main-img > span{
    position: absolute;
    width: 65%;
    height: 70px;
    display: grid;
    background-color: #c10023;
    color: white;
    place-content: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    top: 100%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.service-listing-card-cont{
    padding: 3rem 1rem 1rem;
    text-align: center;
    background-color: #f1f1f1;

}

.blog-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-detail-card-sec{
    padding: 3rem 0rem;
}

.blog-detail-card-sec a{
    color: black;
}

.blog-detail-card{
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.blog-detail-card-main-img{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.blog-detail-card-main-img img{
    width: 100%;
}

.blog-detail-card-tit{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin: 0rem;
}

.blog-author-profi-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.blog-card-btn-yellow{
    width: fit-content;
    height: 35px;
    background-color: #ffcc29;
    display: grid;
    place-content: center;
    border-radius: 7px;
    padding: 0rem 0.5rem;
}

.blog-detail-card-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-btn{
    background-color: #ffcc29;
    width: 129px;
    height: 50px;
    display: grid;
    place-content: center;
    color: black;
    padding: 1rem 1rem 1rem 2rem;
    position: relative;
}

.sort-nd-filter-options{
    margin: 2rem 0rem;
    display: flex;
    justify-content: space-between;
}

.filter-btn::before{
 content: "";
 position: absolute;
 width: 24px;
 height: 24px;
 background: url("./assets/blog-page/Filter.svg");
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 top: 50%;
 transform: translateY(-50%);
 left: 20px;

}

.blog-detail-card-cont p{
    margin: 0rem;
}

.blog-author-name{
    margin: 0rem;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

select{
    border: none;
}

select:focus-visible{
    border: none;
    outline: none;
}

.sort-option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}



.sort-options-btn1 img{
    filter: brightness(0) saturate(100%) invert(83%) sepia(0%) saturate(491%) hue-rotate(316deg) brightness(83%) contrast(93%);
}

.sort-options-btn2{

}

.sort-options-btn1 , .sort-options-btn2 , .sort-options-btn3{
    width: 40px;
    height: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}

.myDIV{
    transition: all 0.3s;
}